<h6 class="subtitle"> ... my cousin works for Bit.ly </h6>
<%= link_to image_tag("arrow_left.png", :border => 0) +'Back' , :back %>
<h2>Editing "<%=h @article.title %>"</h2>
<br />
<% form_for(@article) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :'author name' %>
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Save Changes' %>
  </p>
<% end %>


