<h6 class="subtitle"> ... what's "Articl" in Spainish anyway? </h6>

<div id="show_toolbar">
	<%= link_to image_tag("arrow_left.png", :border => 0) + 'list all articles', articles_path %>
	<%= link_to image_tag("application_edit.png", :border=>0) + "edit", edit_article_path(@article), {:title => "Edit article"} %>
    <%= link_to image_tag("bin.png", :border=>0)+ "delete", @article, :confirm => 'Are you sure?', :method => :delete, :title => "Delete article" %>
	<%= mail_to ("", image_tag("email.png", :border=>0) + "mail", :subject => @article.title, :body => link_to("http://" + request.host_with_port + article_path(@articles)))  %>
</div>
<h3>
  <%=h @article.title %>
</h3>

<p>
  by <%=h @article.author %>, edited <%=h @article.times_edited %> since <%=h @article.created_at.strftime("%b. %d, %Y.") %>
</p>
<br />
<p>
  <%= @article.body.gsub(/\n/, '<br />') %>
</p>

