<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Games: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
	<div id="user_nav">
		<% if current_user %>
			<%=h "Logged in as " %> 
			<%= link_to current_user.first_last, edit_admin_user_path(:current) %>  
			<%=h ", #{current_user.role.name}." %> 
			<% if  current_user.role.name == "admin" %>
				<%= link_to "Admin", admin_root_url %>
			<%end%>
				
			<%= link_to "My Games", member_root_url %>
			<%= link_to "Logout", logout_path %>
		<% else %>
			<%= link_to "Register", new_admin_user_path %> |
			<%= link_to "Login", login_path %>
		<% end %>
	</div>
<h1 id="title"> <%= link_to "Gamez", root_url %>  
	<% if current_user && current_user.role.name == "admin" %>
		Admin
	<%end%>
</h1>
    <% if current_user && current_user.role.name == "admin" %>
	   <ul id="admin_bar">
		  <li><%= link_to "Games", admin_root_url%> </li>
		  <li><%= link_to "Users", admin_users_path%> </li>
		  <li><%= link_to "Roles", admin_roles_path%> </li>
	   </ul>
	<%end%>
<%= flash_div :error, :notice %>
<%= yield %>

</body>
</html>
