!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title
      Games: #{controller.action_name}
    = stylesheet_link_tag 'scaffold'
  %body
    #user_nav
      - if current_user
        = h "Logged in as "
        = link_to current_user.first_last, edit_admin_user_path(:current)
        = h ", #{current_user.role.name}."
        - if  current_user.role.name == "admin"
          = link_to "Admin", admin_root_url
        = link_to "My Games", member_root_url
        = link_to "Logout", logout_path
      - else
        = link_to "Register", new_admin_user_path
        |
        \#{link_to "Login", login_path}
    %h1#title
      = link_to "Gamez", root_url
      - if current_user && current_user.role.name == "admin"
        Admin
    - if current_user && current_user.role.name == "admin"
      %ul#admin_bar
        %li
          = link_to "Games", admin_root_url
        %li
          = link_to "Users", admin_users_path
        %li
          = link_to "Roles", admin_roles_path
    = flash_div :error, :notice
    = yield