<h1>Editing game</h1>

<% form_for(@game) do |f| %>
  <%= f.error_messages( :header_message => "Could not save changes") %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <p>
	Rating <br />
    <%= f.radio_button :rating, 'excellent' %> Excellent<br />
	<%= f.radio_button :rating, 'good' %> Good<br />
	<%= f.radio_button :rating, 'meh' %> Meh<br />
	<%= f.radio_button :rating, 'terrible' %> Terrible<br />
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
