<h1>Listing games</h1>
<%= will_paginate @games %>
<table>
  <tr>
    <th>Title</th>
    <th>Rating</th>
	<th>User</th>
	<th>Created At</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%=h game.title %></td>
    <td><%=h game.rating %></td>
    <td><%=h game.user.first_last %></td>
	<td><%=h game.created_at %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New game', new_game_path %>