
<%= will_paginate @games %>
<table>
  <tr>
    <th>Title</th>
    <th>Rating</th>
	<th>Created At</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%=h game.title %></td>
    <td><%=h game.rating %></td>
	<% if current_user && current_user == game.user %>
	<td><%=h "#{game.created_at.strftime("%b. %d %Y")} by me" %></td>
	<% else %>
	<td><%=h "#{game.created_at.strftime("%b. %d %Y")} by #{game.user.first_last}" %></td>
	<%end%>
 </tr>
<% end %>
</table>

<br />
