<h2> My Gamez </h2>
<%= will_paginate @games %>
<table>
  <tr>
    <th>Title</th>
    <th>Rating</th>
	<th>Date Added</th>
  </tr>

<% @games.each do |game| %>
  
  <tr>
    <td><%= link_to game.title, edit_game_path(game) %></td>
    <td><%=h game.rating %></td>
    <td><%= "#{game.created_at.strftime("%b. %d %Y")} by me" %></td>
  
  </tr>
<% end %>

</table>
<p> <%= "I've created #{pluralize (@all_games, 'game')}, TODO% of which are rated" %></p>