!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title Articl.es -- All the World's Articles (with a name .com hipsters love)
    = stylesheet_link_tag 'scaffold'
  %body
    %h1#header Articles.es
    %h6.subtitle= yield :subtitle
    %p{:style => "color: green"}= notice
    %ul.menubar
      %li= link_to "atricles", articles_path
      %li= link_to "authors", "#"
    = yield
    