<h2 id ="game_count"> <%= pluralize Game.count, 'Total Game' %> </h2>
<%= link_to "Add a game", new_game_url  %>
<%= will_paginate @games %>
<table>
  <tr>
    <th>Title</th>
    <th>Rating</th>
	<th>Date Added</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= link_to game.title, edit_game_path(game) %></td>
    <td><%=h game.rating %></td>
	<% if current_user == game.user %>
		<td><%=h "#{game.created_at.strftime("%b. %d %Y")} by me" %></td>
    <% else %>
		<td><%=h "#{game.created_at.strftime("%b. %d %Y")} by " %>
		<%= link_to game.user.first_last, edit_admin_user_path(game.user) %>
		</td>
	<% end %>


   
  </tr>
<% end %>
</table>
